main{
    max-width: 900px;
    margin: 0 auto;
}

aside{
    width: 45%;
    margin: auto;
    border: 1px solid #eadeff;
    padding: 20px;
    background: linear-gradient(to right, #63dbff, #ffc9c9);
    color:#210055;
    border-radius: 5%;
    box-shadow: 30px 20px 30px rgba(68, 67, 67, 0.333);
    
}

aside img{
    width: 400px;
    height: auto;
}

main img{
    width: 150px;
    height: auto;
    box-shadow: 30px 20px 30px rgba(68, 67, 67, 0.333);
    border-radius: 10%;
}

p {
    padding: 0;
    text-align: justify;
}

footer{
    margin-top: 1rem;
    border-top: 1px;
    text-align: center;
    background-color: #519dff;
}