* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: montserrat, arial, sans-serif;
}

nav {
    background-color: #519dff;
    padding: 10px;
}
nav a {
    color: white;
    padding: 10px;
    display: block;
}
main{
    max-width: 650px;
    margin: 0 auto;
}

aside{
    width: 45%;
    margin: auto; 
}

aside img{
    width: 400px;
    height: auto;
}

aside h2 {
    margin-bottom: 1rem;
    text-align: center;
}

main img{
    width: 150px;
    height: auto;
    box-shadow: 30px 20px 30px rgba(68, 67, 67, 0.333);
    border-radius: 10%;
    padding: 2px;
    float: right;
    margin: 0 0 1rem 1rem;

}

p {
    margin:  1rem;
}

footer{
    margin-top: 1rem;
    border-top: 1px;
    text-align: center;
    background-color: #519dff;
}

/* class selector from the video */

.box {
/* 
    border: 1px solid rgba(68, 67, 67, 0.333);
    padding: 1rem;
    background-color: #eadeff;
    color: #210055; 
    */
    margin: 1rem;
    border: 1px solid #eadeff;
    padding: 4rem;
    background: linear-gradient(to right, #63dbff, #ffc9c9);
    color:#210055;
    border-radius: 5%;
    box-shadow: 30px 20px 30px rgba(68, 67, 67, 0.333);
}


.indent {
    padding-left: 2rem;
}